@model UsersApplication.Models.EditModel

@{
    ViewBag.Title = "Редактирование";
}
        <style>
            #main {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            #okno {
                width: 300px;
                height: 80px;
                text-align: center;
                padding: 15px;
                border: 1px solid #ccc;
                border-radius: 10px;
                background-color: #f2f2f2;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
            }

            #main:target {
                display: block;
            }
        </style>

<div class="container">
    <div class="login-form">
        <h2>Редактировать данные профиля</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.ValidationSummary(true, "")
                <div>
                    <p>Имя: @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })</p>
                    <p>Фамилия: @Html.TextBoxFor(model => model.SecondName, new { @class = "form-control" })</p>
                    <p>Отчество: @Html.TextBoxFor(model => model.Patronymic, new { @class = "form-control" })</p>
                    
                </div>

                @if (Model.EmailConfirmed == true)
                {

                    <div class="alert alert-success">
                        Ваш email подтвержден!
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        Подтвердите свой email. @Html.ActionLink("Выслать письмо подтверждения", "SendConfirmEmail", new { userid = Model.UserId })
                    </div>
                }
                <div>
                    <p>Email: @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email" })</p>
                </div>
            </div>
                    <div>
                        <input type="submit" class="btn btn-success" value="Сохранить" />
                        <a href="#main" class="btn btn-danger">Удалить аккаунт</a>
                    </div>
        }

        <a href="#" id="main">
            <form method="post" action="Delete">
                <div id="okno">
                    Удалить аккаунт?</br>
                    <button type="submit" class="btn btn-danger"  >Да</button>
                </div>

            </form>
        </a>

       
</div>
</div>