@model UsersApplication.Models.LoginModel

@{
    ViewBag.Title = "Войти на сайт";
}

<div class="container">
    <div class="login-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

            <h2 class="form-signin-heading">Вход на сайт</h2>
            <hr />
            @Html.ValidationSummary()
            @Html.LabelFor(m => m.Login)
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })<br />
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })<br />

    <div>
        @Html.ActionLink("Регистрация", "Register")<span> | </span>@Html.ActionLink("Забыли пароль?", "ForgotPassword")<br />
    </div>

            <button type="submit" class="btn btn-success">Войти</button>
        }
    </div>

</div>