@model UsersApplication.Models.ResetPasswordModel


@{
    ViewBag.Title = "Сброс пароля";
}

<div class="container">
    <div class="login-form">
        @using (Html.BeginForm("ResetPassword","Account",FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" name="userId" value="@ViewBag.userId" />
            <input type="hidden" name="code" value="@ViewBag.code" />

            <h2 class="form-signin-heading">Сброс пароля</h2>
            <hr />
            @Html.ValidationSummary()
            @Html.LabelFor(m=>m.Password)
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })<br />
            @Html.LabelFor(m => m.PasswordConfirm)
            @Html.TextBoxFor(m => m.PasswordConfirm, new { @class = "form-control", @type = "password" })<br />

            <button type="submit" class="btn btn-success">Сохранить</button>
        }
    </div>
</div>

